body{
font-family:Arial;
margin:0;
background:#f0f2f5;
text-align:center;
}

header{
background:#1877f2;
color:white;
padding:20px;
}

input, textarea{
padding:10px;
margin:5px;
width:220px;
}

button{
padding:10px;
background:#1877f2;
color:white;
border:none;
cursor:pointer;
}

.market{
display:none;
}

#liste{
display:flex;
flex-wrap:wrap;
justify-content:center;
margin-top:20px;
}

.produit{
background:white;
margin:10px;
padding:10px;
width:220px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.produit img{
width:100%;
border-radius:5px;
}

.actions button{
margin:5px;
}
